/* 
# = id
. = class
 = tag  
*/

html 
{ 
    background: #262621; 
}

#board 
{
    margin: 0 auto;
    display: block;
    border: 5px solid #4b4b4b;
    /* border: 5px solid #000;  */
    /* border-bottom: 5px solid green; */
    background: #262621;
}

#info
{
    /* border: 5px solid #4b4b4b; */
    /* display: block;*/
    width: 250px;
    /* height: 100px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 25px;
    column-width: 120px;

    /* background: grey; */
    background: #262621;
    color: #4b4b4c;
    margin: 0 auto;
    /* margin-top: 2em; */
    font-size: 1.75em;
}

#lines
{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2; 
}

#next
{
    width: 100px;
    height: 100px;
}

#nlabel
{
    line-height: 50px;
}

#start
{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.90;
    text-align: center;
    font-size: 1.5em;
    display: block;
    color: #4b4b4b;
    /* display: none; */
}

#pause
{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.90;
    text-align: center;
    font-size: 1.5em;
    display: block;
    color: #4b4b4b;
    /* display: none; */
}

#gameover
{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.90;
    text-align: center;
    /* font-size: 1.5em; */
    display: block;
    color: #4b4b4b;
    /* display: none; */
}


#gbutton
{
    background-color: #a2d92b;
    border: none;
    color: #000000;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 50px;
    width: 150px;
    height: 50px;
    /* cursor: pointer; */
}

#cbutton
{
    background-color: #6be5f2;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 50px;
    width: 150px;
    height: 50px;
    /* cursor: pointer; */
}

#pbutton
{
    /* background-color: #6be5f2; */
    background-color: #a37ef2;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 50px;
    width: 150px;
    height: 50px;
    /* cursor: pointer; */
}

#rbutton
{
    background-color: #f22987;
    border: none;
    color: #000000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 50px;
    width: 150px;
    height: 50px;
    /* cursor: pointer; */
}

#instructions
{
    
    background-color: #f22987;
    border: none;
    color: #000000;
    font-size: 16px;
    margin: 20px auto ;
    width: 150px;
    height: 175px;
    opacity: 1;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 7;
    /* font-weight: bold; */
}

#scores
{
    
    background-color: #f22987;
    border: none;
    color: #000000;
    font-size: 16px;
    margin: 20px auto ;
    width: 250px;
    height: 275px;
    overflow-y: scroll;
    /* opacity: 0.90; */

    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: auto;
    
    /* font-weight: bold; */
    text-align: left;
    padding: 10px;
}

#instructions #title
{
    grid-column-start: 1;
    grid-column-end: 3;
}

#scores div
{
    height: 25px;
}

/* #scores #title
{
    grid-column-start: 1;
    grid-column-end: 4;
} */


button:hover
{
    opacity: 0.75;
}







#lines_old
{
    display: block;
    width: 240px;
    margin: 0 auto;
    margin-top: 2em;
    /* color: #78909c; */
    color: #4b4b4c;
    font-size: 1.5em;
}